body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Barlow', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color:#FFF;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  scroll-behavior: smooth;
  cursor:none !important;
}


a{
  color:unset;
  text-decoration:none;
}

a:hover ~ .custom-cursor {
  background-color:white;
  transform:scale(.8);
}